.poster {
  margin: 0 40px;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  .linkTo {
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 1;
  }
  img {
    z-index: -1;
    width: 100%;
    background: #cacaca;
    transition: 0.4s ease-in-out;
    display: block;
  }
  &:hover {
    .linkTo {
      display: flex;
    }
    img {
      filter: blur(15px);
      transform: rotate(-1deg);
    }
  }
}