.movieTitle {
  .title {
    font-size: 40px;
    font-weight: bold;
  }
  .nameOriginal {
    margin: 20px 0;
    font-weight: 600;
    color: #b2b2b2;
    .name {
      margin-right: 10px;
    }
  }
  .ratingAge {
    border: 1px solid #b2b2b2;
    width: fit-content;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 5px;
  }
  .description {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}