.row {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  padding: 8px 0;
  .value {
    cursor: pointer;
    color: #333;
    max-height: 20px;
    overflow: hidden;
    .link {
      &:hover {
        color: #e65c00;
      }
    }
  }
}